# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# latex artifacts
proposal/*.aux
proposal/*.log
proposal/*.bbl
proposal/*.blg
proposal/*.pdf

# ~
*.*~
*~
